{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block css %}
<style>
    img {
        border-radius: 1rem;
        transition: width 2s, height 1.3s, box-shadow 1s ease-out;

    }

    .img-hover:hover {
        box-shadow: 13px 12px 30px 13px rgb(199, 199, 199);
        height: 16rem;

    }
    a{
        text-decoration-line: none;
    }
    .mobilecategory {
        height: 4rem;
        width: 15rem;
    }

    .rating {
        display: inline;
    }
    .checked{
        color: red;
    }
    ul{
        list-style: none;
    }
</style> {% endblock css%}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <section>

                <!-- Section: Filters -->
                <section>

                    <h5>Filters</h5>
                    <section class='mb-4'>
                        
                            <a href="{% url 'fashion' 'all' %}" class="list-group" aria-current="true">All</a>
                            <a href="{% url 'fashion' 'men' %}" class="list-group" aria-current="true">Men's</a>
                            <a href="{% url 'fashion' 'women' %}" class="list-group" aria-current="true">Women's</a>
                           
                            
                        

                    </section>
                    <!-- Section: Condition -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Category</h6>

                        
                        <div class="form-radio pl-0 mb-3">
                            <input type="radio" id="tw" name="wear" value="tw">
  <label for="tw">Male</label><br>
  <input type="radio" id="bw" name="wear" value="bw">
  <label for="bw">Female</label><br>
                        </div>

                    </section>
                    <!-- Section: Condition -->

                    <!-- Section: Average -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

                        <a href="#">
                            <ul class="rating list-group">
                                <li>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="small text-uppercase  px-2" style="text-decoration-line: none;">&
                                        Up</span>
                                </li>


                            </ul>
                        </a>
                        <a href="#">
                            <ul class="rating">
                                <li>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="small text-uppercase card-link-secondary px-2">& Up</span>

                                </li>
                            </ul>
                        </a>
                        <a href="#">
                            <ul class="rating ">
                                <li>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="small text-uppercase  px-2" style="text-decoration-line: none;">&
                                        Up</span>
                                </li>


                            </ul>
                        </a>
                        <a href="#">
                            <ul class="rating">
                                <li>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star "></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="small text-uppercase card-link-secondary px-2">& Up</span>

                                </li>
                            </ul>
                        </a>

                    </section>
                    <!-- Section: Average -->

                    <!-- Section: Price -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under
                                ₹200</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="2550">₹200 to
                                ₹500</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="50100">₹500 to
                                ₹700</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="100200" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="100200">₹700
                                to ₹1000</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="200above" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="200above">&#8377;1000
                                & Above</label>
                        </div>
                        

                    <!-- Section: Color -->


                </section>
                <!-- Section: Filters -->

            </section>
            <!-- Section: Sidebar -->
        </div>
        <div class="col-sm-8 ">
            <div class='row'>
                {% for product in fashion %}
                <div class="col-sm-4 text-center mb-4" id="mydiv">
                    <a href="{% url 'product-detail' product.id%}" class="btn">
                        <div class="item">
                            <input type="hidden" name="category" value="{{product.category}}">
                            <img src="{{product.product_image.url}}" alt="image" class="img-hover" height="200px">
                            <div class="fw-bold">{{product.title}}</div>
                            {% for _ in "x"|rjust:product.rate %}
                            <span style="font-size:1rem;cursor:pointer;color:red" class="fa fa-star"></span>
                            {% endfor %}
                            <div class="fw-bold">Rs.{{product.discounted_price}}
                                <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
{% block jquery %}
<script>
   
</script>
{% endblock jquery %}