{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'login' %}" class="btn btn-primary">Login</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Reset Done SuccessFully</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frame-border='0' class='giphy-embed' allowfullscreen>

                </iframe>
            </div>
                
            
        </div>
    </div>
</div>
{% endblock main-content %}